/* dd */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #9c27b0;
}

.loader{
    position: relative;
    width: 300px;
    height: 300px;
    /* transform-style: preserve-3d; */
}

.loader span{
    position: absolute;
    display: block;
    border: 5px solid #fff;
    box-shadow: 0 5px 0 #ccc;
    border-radius: 50%;
}