* {
    box-sizing: border-box;
}

html body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05)), url('../img/netflix_background.png');
    height: 100vh;
    vertical-align: middle;
}

nav img {
    width: 167px;
    height: 45px;
}

.logo {
    display: inline-block;
    line-height: 130px;
    margin-left: 3%;
}

.signin {
    color: #fff;
    float: right;
    background-color: #e50914;
    line-height: normal;
    margin-top: 18px;
    margin-right: 3%;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
}

.pitch {
    position: absolute;
    top: 35%;
    left: 30%;
    font-size: 2.1vw;
}

.pitch_title {
    font-size: 3em;
    margin: 0 0 0.2em;
    font-weight: 700;
}

.pitch_subtitle {
    margin: 0 0 .5em;
}

.btn {
    font-size: 14px;
    letter-spacing: 1.9px;
    font-weight: 400;
    margin: .5em .5em .5em 0;
    padding: 12px 2em;
    cursor: pointer;
    color: #fff;
    background-color: #e50914;
    text-decoration: none;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    border-radius: 2px;
    text-align: center;
    user-select: none;
    border: 0;
}

.btn-large {
    padding: 18px 20px;
}

.signin:hover,
.btn:hover {
    background: #f40612;
}

#features>nav {
    padding-top: 35px;
    border-bottom: 2px solid #3d3d3d;
}

#features>nav a {
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    color: #777;
    height: 125px;
    line-height: 20px;
}

#features>nav a:hover {
    color: white;
}

#features>nav a img {
    height: 49px;
    filter: invert(53%) sepia(10%) saturate(31%) hue-rotate(314deg) brightness(105%) contrast(91%);
}

#features>nav a img:hover {
    filter: invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
}

#features>nav a h2 {
    margin: 10px 0 0;
    font-size: 1em;
}

.columns {
    display: flex;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.center {
    margin: 0 auto;
}

.size-80 {
    width: 80%;
}

.size-70 {
    width: 70%;
}

#features>nav a.is-selected {
    border-bottom: 5px solid #e50914;
    color: white;
}

#features>article {
    margin-bottom: 120px;
}

#features>article>section {
    display: none;
    padding: 40px 0;
}

#features>article>section.is-selected {
    display: block;
}

#features>article h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 60px 0 20px;
}

#features img {
    max-width: 200%;
}