@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to{opacity: 1;}
}

@keyframes fadeOut {
    from{opacity: 1;}
    to{opacity: 0;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to{opacity: 1;}
}

@-webkit-keyframes fadeOut {
    from{opacity: 1;}
    to{opacity: 0;}
}

body{
    background-color: pink;
}

