#main{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    font-family: 'Cafe24Ssurround';
}

#main>h1{
    font-size: 1.8rem;
}

#qna{
    display: none;
}
