body {
  display: block;
}

.contentWrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#0074a4), to(#f99c57));
  background: linear-gradient(#0074a4, #f99c57);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentWrap .album {
  position: relative;
  left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 400px;
}

@media only screen and (max-width: 720px) {
  .contentWrap .album {
    width: 300px;
    height: 200px;
    left: -15px;
  }
}

.contentWrap .album .coverImg {
  display: none;
  position: absolute;
  width: 70%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contentWrap .album .coverImg img {
  width: 100%;
  height: 100%;
}

.contentWrap .album .coverImg.active {
  display: block;
}

.contentWrap .album .disk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -5%;
  width: 60%;
  height: 90%;
  border-radius: 50%;
  background: linear-gradient(120deg, #000, #333333, #000);
  -webkit-box-shadow: 4px 14px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 14px 40px rgba(0, 0, 0, 0.3);
  -webkit-animation: rotAnimation 4s infinite linear;
          animation: rotAnimation 4s infinite linear;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contentWrap .album .disk .disk_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: 40%;
  background-color: #0473a4;
  border-radius: 50%;
  border: 3px dashed rgba(255, 255, 255, 0.4);
}

.contentWrap .album .disk .disk_inner::after {
  content: "";
  width: 10%;
  height: 10%;
  background-color: black;
  border-radius: 50%;
}

.contentWrap .album:hover .coverImg {
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}

.contentWrap .album:hover .disk {
  right: -10%;
}

.buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 5vh;
  height: 4vh;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .buttonWrap {
    height: 2vh;
  }
}

.buttonWrap button {
  font-size: 1rem;
  padding: 0 1em;
  background-color: #000;
  color: #fff;
  border: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 720px) {
  .buttonWrap button {
    font-size: 0.5rem;
  }
}

.buttonWrap button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.buttonWrap .pointWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  margin: 0 20px;
}

@media only screen and (max-width: 720px) {
  .buttonWrap .pointWrap {
    width: 50px;
    margin: 0 10px;
  }
}

.buttonWrap .pointWrap li {
  width: 1rem;
  height: 1rem;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .buttonWrap .pointWrap li {
    width: 0.5rem;
    height: 0.5rem;
  }
}

.buttonWrap .pointWrap li.active {
  background-color: #000;
}

@-webkit-keyframes rotAnimation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotAnimation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */