$fullFontSize : 1rem;
$mobileFontSize : .5rem;
$mobile: "(max-width: 720px)";

html,
body {
    overflow: hidden;
}

.contentWrap {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .album {
        position: relative;
        left: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 400px;

        @media #{$mobile} {
            width: 90vmin;
            height: 60vmin;
            left: -5vw;
        }

        .coverImg {
            display: none;
            position: absolute;
            width: 70%;
            height: 100%;
            z-index: 1;
            box-shadow: 4px 14px 40px rgba(0, 0, 0, .3);
            transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            img {
                width: 100%;
                height: 100%;
            }

            &.active {
                display: block;
                animation: imgAnimation .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }

        .disk {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -5%;
            width: 60%;
            height: 90%;
            border-radius: 50%;
            background: linear-gradient(120deg, #000, #333333, #000);
            box-shadow: 4px 14px 40px rgba(0, 0, 0, .3);
            transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation: rotAnimation 4s infinite linear;

            .disk_inner {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40%;
                height: 40%;
                background-color: #0473a4;
                border-radius: 50%;
                border: 3px dashed rgba(255, 255, 255, .4);

                @media #{$mobile} {
                    border-width: 1px;
                }

                &::after {
                    content: "";
                    width: 10%;
                    height: 10%;
                    background-color: black;
                    border-radius: 50%;
                }
            }
        }

        &:hover {
            .coverImg {
                transform: translateX(-15%);
            }

            .disk {
                right: -10%;
            }
        }
    }
}

.buttonWrap {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 5vh;
    height: 4vh;
    width: 100%;
    text-align: center;

    @media #{$mobile} {
        height: 2vh;
    }

    button {
        font-size: $fullFontSize;
        padding: 0 1em;
        background-color: #000;
        color: #fff;
        border: 0;
        transition: all 0.3s ease-in-out;

        @media #{$mobile} {
            font-size: $mobileFontSize;
        }

        &:hover {
            background-color: #fff;
            color: #000;
            cursor: pointer;
        }
    }

    .pointWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        margin: 0 20px;

        @media #{$mobile} {
            width: 50px;
            margin: 0 10px;
        }

        li {
            width: $fullFontSize;
            height: $fullFontSize;
            list-style: none;
            background-color: rgba(0, 0, 0, .4);
            border-radius: 50%;
            cursor: pointer;
            transition: background .4s ease-out;

            @media #{$mobile} {
                width: $mobileFontSize;
                height: $mobileFontSize;
            }

            &.active {
                background-color: #000;
            }
        }
    }
}

@keyframes rotAnimation {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes imgAnimation {
    0% {
        opacity: .5;
        transform: translateX(15%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}