.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 500px;
}

@keyframes rotrot1 {
    0% {
        transform: rotateY(30deg);
    }

    100% {
        transform: rotateY(-30deg);
    }
}

@keyframes hover {
    100% {
        transform: translateZ(80px);
    }
}

.practice {
    background-color: #003b6f;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    text-align: center;
    color: blanchedalmond;
    animation: rotrot1 1.4s infinite linear alternate;
    transform-style: preserve-3d;
}

.pr-title {
    padding: 0.6em;
    font-size: 1.8rem;
}

.pr-content {
    padding: 0.8em;
    font-size: 1.2rem;
}

.pr-content:nth-of-type(1) {
    transform: translateZ(10px);
}

.pr-content:nth-of-type(2) {
    transform: translateZ(20px);
}

.pr-content:nth-of-type(3) {
    transform: translateZ(30px);
}

.practice:hover,
.pr-title:hover,
.pr-content:nth-of-type(1):hover,
.pr-content:nth-of-type(2):hover,
.pr-content:nth-of-type(3):hover {
    animation: hover 0.5s forwards;
}