/* css file */
.container {
    background-image: url(../img/logo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.background {
    height: 60vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.text{
    height: 30vh;
}

.background:first-of-type,
.background:last-of-type {
    height: 100vh;
}

.background:nth-of-type(3n-2) {
    background-image: url(../img/a.jpg);
}

.background:nth-of-type(3n-1) {
    background-image: url(../img/b.jpg);
}

.background:nth-of-type(3n) {
    background-image: url(../img/c.jpg);
}